<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning" *ngIf="withdrawAmount">
                <span>Available Incentive Amount : 
                    <b>{{withdrawAmount.withdraw_amount}}</b>
                </span>                    
            </div>
            <div class="errorMsg" *ngIf="errors.user_bank_account || errors.user_kyc || errors.purchase_request || errors.amount">
                <div *ngIf="errors.user_bank_account">{{errors.user_bank_account}}</div>
                <div *ngIf="errors.user_kyc">{{errors.user_kyc}}</div>
                <div *ngIf="errors.purchase_request">{{errors.purchase_request}}</div>
                <div *ngIf="errors.amount">{{errors.amount}}</div>
            </div>
            <div class="card">
                <div class="card-header">
                    <i class="icon-note"></i>
                    <strong>{{(id>0)?'Edit':'Add'}} Payment</strong>
                    <div class="float-right">
                        <a title="Back" [routerLink]="['/dashboard/payments']">
                            <button class="btn btn-success btn-primary">Back</button>
                        </a>
                    </div>
                </div>
                <div class="card-body card-block">
                    <div class="errorMsg" *ngIf="accountsList.length == 0">Please add the Account first</div>  
                    <fieldset [disabled]="accountsList.length == 0">
                        <form name="form" method="post" #f="ngForm" (ngSubmit)="f.form.valid && saveData()" novalidate>
                        <div class="form-group">
                            <label for="account_id" class="form-control-label">Account Name </label>
                            <select [(ngModel)]="form.account_id" name="status" id="account_id" class="form-control" #account_id="ngModel" required (change)="getAccountDetails(form.account_id)">
                                <option value="0">Select Account</option>
                                <option value="{{data.UserBankAccount.id}}" *ngFor="let data of accountsList">{{data.UserBankAccount.bank_name}}</option>
                            </select>
                            <div *ngIf="f.submitted && account_id.invalid" [ngClass]="{ 'is-invalid': f.submitted && account_id.invalid }">
                                <div *ngIf="account_id.errors.required" class="error">Account Name is required</div>
                            </div>
                            <div *ngIf="errors.user_bank_account_id" class="error">{{errors.user_bank_account_id}}</div>
                        </div>
                        <div class="form-group">
                            <label for="account_number" class="form-control-label">Bank A/c No</label>
                            <input type="text" name="account_number" [(ngModel)]="account.account_number" disabled="disabled" id="account_number" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="bank_name" class="form-control-label">Bank Name</label>
                            <input type="text" name="bank_name" [(ngModel)]="account.bank_name" disabled="disabled" id="bank_name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="branch_name" class="form-control-label">Branch</label>
                            <input type="text" name="branch_name" [(ngModel)]="account.account_number" disabled="disabled" id="branch_name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="ifsc_code" class="form-control-label">Bank IFSC Code</label>
                            <input type="text" name="ifsc_code" [(ngModel)]="account.ifsc_code" disabled="disabled" id="ifsc_code" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="pan_number" class="form-control-label">PAN Number </label>
                            <input type="text" name="pan_number" [(ngModel)]="userData.pan_card" disabled="disabled" id="pan_number" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="amount" class="form-control-label">Amount</label>
                            <input type="number" min="1" oninput="validity.valid||(value='')" [(ngModel)]="form.amount" name="amount" id="name" placeholder="Amount" class="form-control" #amount="ngModel" (keyup)="finalAmountFn(form.amount)" required>
                            <div *ngIf="f.submitted && amount.invalid" [ngClass]="{ 'is-invalid': f.submitted && amount.invalid }">
                                <div *ngIf="amount.errors.required" class="error">Amount is required</div>
                            </div>
                            <span *ngIf="form.amount" style="color: #336573;">
                                ( TDS <b>{{tdsCharge}}% : {{(tdsAmount)?tdsAmount:'0.00'}}</b>  and Handling charge <b>{{handlingCharge}}%</b> : {{(handlingChargeAmount)?handlingChargeAmount:'0.00'}} )  &nbsp;&nbsp; Final Amount : {{(form.amount)?finalAmount:'0.00'}}
                            </span> 
                        </div>
                        <div class="form-group">
                            <label for="remark" class="form-control-label">Remark</label>
                            <textarea id="remark" [(ngModel)]="form.remark" name="remark" placeholder="Remark" class="form-control" #remark="ngModel" required></textarea>
                            <div *ngIf="f.submitted && remark.invalid" [ngClass]="{ 'is-invalid': f.submitted && remark.invalid }">
                                <div *ngIf="remark.errors.required" class="error">Remark is required</div>
                            </div>
                        </div>                                               
                        <div class="card-footer">
                            <button type="reset" class="btn btn-primary btn-danger margin-right-15"><i class="fa fa-ban"></i> Reset</button>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                        </div>
                        </form>
                    </fieldset>  
                </div>
            </div>
        </div>
    </div>
    <div class="my-modal" tabindex="-1" *ngIf="showPopup">
      <div class="modal-dialog modal-lg my-modal-content" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <form name="mform" method="post" #ot="ngForm" (ngSubmit)="ot.form.valid && saveData()" novalidate> 
            <h4 class="modal-title" style="margin-bottom:12px;">Verify OTP</h4>
            <div class="form-group">
                <input type="text" [(ngModel)]="form.otp" name="otp" id="otp" placeholder="OTP" class="form-control" #otp="ngModel" required>
                <div *ngIf="ot.submitted && otp.invalid" [ngClass]="{ 'is-invalid': ot.submitted && otp.invalid }">
                    <div *ngIf="otp.errors.required" class="error">OTP is required</div>                    
                </div>
                <div *ngIf="errors.otp_check" class="error">{{errors.otp_check}}</div>
            </div>
            <div class="modal-body" style="text-align: left;padding: 0;">
                <button type="submit" class="btn btn-primary"><i class="fa fa-dot-circle-o"></i> Verify</button>
                &nbsp;&nbsp; <button type="button" class="btn btn-primary" (click)="resendSaveDataFn()"><i class="fa fa-dot-circle-o"></i> Re-Send</button>
            </div>
            </form>
            <button type="button" class="close" (click)="showPopup = false" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>          
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>