<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="successMsg" *ngIf="successMsg">{{successMsg}}</div>
            <div class="card">
                <div class="card-header">
                    <i class="icon-note"></i>
                    <strong>Update Password</strong>
                </div>
                <div class="card-body card-block">
                    <form name="form" method="post" #f="ngForm" (ngSubmit)="f.form.valid && resetPasswordFn(f);" novalidate>
                        <div class="form-group">
                            <label for="old_password" class="form-control-label">Old Password</label>
                            <input type="password" [(ngModel)]="form.old_password" name="old_password" id="old_password" placeholder="Old Password" class="form-control" #old_password="ngModel" required>
                            <div *ngIf="f.submitted && old_password.invalid" [ngClass]="{ 'is-invalid': f.submitted && old_password.invalid }">
                                <div *ngIf="old_password.errors.required" class="error">Old Password is required</div>
                            </div>
                            <div *ngIf="passError" class="error">{{passError}}</div>
                        </div>
                        <div class="form-group">
                            <label for="new_password" class="form-control-label">New Password</label>
                            <input type="text" [(ngModel)]="form.new_password" name="new_password" id="new_password" placeholder="New Password" class="form-control" #new_password="ngModel" required>
                            <div *ngIf="f.submitted && new_password.invalid" [ngClass]="{ 'is-invalid': f.submitted && new_password.invalid }">
                                <div *ngIf="new_password.errors.required" class="error">New Password is required</div>
                            </div>  
                            <div *ngIf="passError" class="error">{{passErrorLen.password}}</div>                          
                        </div>
                        <div class="form-group">
                            <label for="confirm_new_password" class="form-control-label">Confirm New Password</label>
                            <input type="text" [(ngModel)]="form.confirm_new_password" name="confirm_new_password" id="confirm_new_password" placeholder="Confirm New Password" class="form-control" #confirm_new_password="ngModel" required>
                            <div *ngIf="f.submitted && confirm_new_password.invalid" [ngClass]="{ 'is-invalid': f.submitted && confirm_new_password.invalid }">
                                <div *ngIf="confirm_new_password.errors.required" class="error">Confirm New Password is required</div>
                            </div>
                            <div *ngIf="confirmError" class="error">Password and Confirm password not match</div>
                        </div> 
                        <div class="card-footer">
                            <button type="reset" class="btn btn-primary btn-danger margin-right-15"><i class="fa fa-ban"></i> Reset</button>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>