.running-text{
	position: absolute;
    top: 50%;
    z-index: 9;
    display:block;
    width:100%;
    text-align:center;

    
}
.typed{
		background: rgba(0,0,0,0.5);
	    padding: 2px 0px 5px 10px;
	}
