<div class="animated fadeIn">
   <div class="row">
      <div class="col-lg-12">
         <div class="successMsg" *ngIf="successMsg">{{successMsg}}</div>
         <div class="card">
            <div class="card-header">
               <i class="fa fa-align-justify"></i> Genealogy 
               <div *ngIf="id>0" class="add-new float-right">
                    <button (click)="goBack()" class="btn btn-success btn-primary" type="button">Back To Previous</button>
                </div>                               
            </div>
            <div class="card-body">
               <div class="row mb-3">
                  <div class="col-md-{{(searchBy == 'date'?'8':'6')}} offset-md-12">
                    <form (ngSubmit)="dataList()" method="post" novalidate="novalidate">
                        <div class="input-group">  
                          <div class="margin-right-15">
                            <select (ngModelChange)="resetSearchInputs()" [(ngModel)]="searchBy" #searchBY="ngModel" name="search_by" id="search_by" class="form-control">
                                <option value="u_id">Search By User ID</option>
                                <option value="level">Search By Level</option>
                                <!-- <option value="designation">Search By Rank</option> -->
                                <!-- <option value="status">Search By Status</option>
                                <option value="date">Search By Joining Date</option> -->
                            </select>
                          </div> 
                          <input *ngIf="searchBy == 'u_id'" name="search_text" type="text" class="form-control margin-right-10" aria-required="true" aria-invalid="false" placeholder="User ID" [(ngModel)]="searchText.u_id">

                           <input *ngIf="searchBy == 'level'" name="search_text" type="number" min="1" max="20" oninput="validity.valid||(value='')" class="form-control margin-right-10" aria-required="true" aria-invalid="false" placeholder="Level" [(ngModel)]="searchText.level">

                         <!--  <select *ngIf="searchBy == 'designation'" [(ngModel)]="searchText.designation" name="designation" id="designation" class="form-control margin-right-10">
                              <option value="{{data.id}}" *ngFor="let data of userPostObj">{{data.name}}</option>
                          </select>
                          <select *ngIf="searchBy == 'status'" [(ngModel)]="searchText.status" name="status" id="status" class="form-control margin-right-10">
                              <option value="{{i}}" *ngFor="let data of ['Select Status','Active','Inactive']; let i = index">{{data}}</option>
                          </select>
                          <input *ngIf="searchBy == 'date'" class="form-control margin-right-10" type="Date" name="dateFrom" [(ngModel)]="searchText.start_time">
                          
                          <input *ngIf="searchBy == 'date'" class="form-control margin-right-10" type="Date" name="dateFrom" [(ngModel)]="searchText.end_time"> 
                          <input type="button" class="btn btn-primary margin-right-10" name="searchData" value="Search" (click)="dataList()"> -->
                        </div>
                    </form>
                  </div>
                  <div *ngIf="searchBy !== 'level'" class="col-md-{{(searchBy == 'date'?'4':'6')}} offset-md-12">
                      <div class="user-labels">Level : {{getGenealogyLevel()}}
                      </div>
                  </div>    
               </div>
               <table class="table table-responsive-sm table-hover table-outline mb-0">
                  <thead>
                     <tr>
                        <th>User ID</th>
                        <th>Name</th>
                        <th>DOJ</th>
                        <th>Status</th>
                        <th>Purchase Amount</th>
                     </tr>
                  </thead>
                  <tbody>                     
                     <tr *ngFor="let row of rowData | paginate: { itemsPerPage: limit, currentPage: p1, id: 'my_pagination', totalItems: total_records }">
                        <td><a href title="Click to view" [routerLink]="['/dashboard/users/tree/' + row.User.id]" (click)="incrementGenealogyLevel()" >{{row.User.u_id}}</a></td>
                        <td>{{row.User.level}}</td>
                        <td>{{row.User.date_of_joining | date : 'dd MMM y'}}</td>
                        <td> 
                            <span class="badge badge-{{(row.User.status == '1')?'success':'danger'}}">{{(row.User.status == '1')?'Active':'Inactive'}}</span>
                        </td>
                        <td>{{user_income[row.User.id]}}</td>
                      </tr>
                  </tbody>
               </table>
               <div class="float-right">
                  <pagination-controls class="pagination" (pageChange)="onPageChange(p1 = $event)" id="my_pagination"></pagination-controls> 
               </div>                 
            </div>
         </div>
      </div>
   </div>
</div>